@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  src: url('./proxima-nova-font/ProximaNova-Regular.eot'); /* IE9 Compat Modes */
  src: url('./proxima-nova-font/ProximaNova-Regular.woff')  format('woff'),
    url('./proxima-nova-font/ProximaNova-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 100;
  src: url('./proxima-nova-font/ProximaNova-Light.eot'); /* IE9 Compat Modes */
  src: url('./proxima-nova-font/ProximaNova-Light.woff')  format('woff'),
    url('./proxima-nova-font/ProximaNova-Light.ttf')  format('truetype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  src: url('./proxima-nova-font/ProximaNova-Bold.eot'); /* IE9 Compat Modes */
  src: url('./proxima-nova-font/ProximaNova-Bold.woff')  format('woff'),
    url('./proxima-nova-font/ProximaNova-Bold.ttf')  format('truetype');
}
